#category_nav {
  display: flex;
  list-style: none;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;    
  gap: 1rem;
  margin-top: 1px;
  text-align: center;
}

#category_nav li {
    display: inline;
}

#category_nav li:not(:last-child)::after {
  content: "|";
  margin-left: 1rem;
  color: #555;
}

#category_nav a {
  background: rgba(255,255,255,0.2);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.5em;
  font-weight: 200;
  text-decoration: none;
  color: rgb(230, 255, 2);
  transition: background-color 0.2s;
}

#category_nav a:hover {
  background: rgba(255,255,255,0.4);
}

#user {
    font-size: 0.9rem;
    background: rgba(255,255,255,0.2);
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 0.4em;
    font-weight: 500;
    vertical-align: middle;
}

#user-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-right: 8px;
    align-items: center;
    color: yellow;
}

#user-section a {
    margin-left: 8px;
    color: yellow;
    text-decoration: none;
}

#current-user {
    background: rgba(255,255,255,0.2);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 200;
    vertical-align: middle;
}

#user-button {
    font-size: 0.9rem;
    background: #383838;
    color: yellow;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 0.4em;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.2s;
}

#status {
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
  margin-left: 8px;
  opacity: 0.9;
}

#status.offline {
  color: red;
  text-shadow: 0 0 5px rgb(128, 0, 0, 0.5);
}

#status.online {
  color: #00ff00;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}
