#category_nav {
  display: block;
  flex-wrap: wrap;    
  gap: 12px;
  margin-bottom: 0px;
  margin-top: 12px;
  text-align: center;
}

.headerskeleton{
    height: 200px;
}

.footerskeleton{
    height: 200px;
}

#category_nav a {
  background: rgba(255,255,255,0.2);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.5em;
  font-weight: 200;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s;
}

#category_nav a:hover {
  background: rgba(255,255,255,0.4);
  text-decoration: underline;
}

#user {
    background: rgba(255,255,255,0.2);
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 0.4em;
    font-weight: 500;
    vertical-align: middle;
}

#user-section {
    margin-right: 8px;
    align-items: center;
    color: yellow;  
}

#user-section a {
    margin-left: 8px;
    color: yellow;
    text-decoration: none;
}

#current-user {
    background: rgba(255,255,255,0.2);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.5em;
    font-weight: 200;
    vertical-align: middle;
}

#user-button {
    background: #3f3f32;
    color: yellow;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 0.4em;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.2s;
}