#category_nav {
  display: block;
  flex-wrap: wrap;    
  gap: 12px;
  margin-bottom: 0px;
  margin-top: 12px;
  text-align: center;
}

.headerskeleton{
    height: 200px;
}

.footerskeleton{
    height: 200px;
}

#category_nav a {
  background: rgba(255,255,255,0.2);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.5em;
  font-weight: 200;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s;
}

#category_nav a:hover {
  background: rgba(255,255,255,0.4);
  text-decoration: underline;
}

#status {
    background: rgba(255,255,255,0.2);
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 500;
    vertical-align: middle;
    transition: color 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
}


body.online #status {
    background: yellow;
    color: black;
    opacity: 1;
    transition: color 0.3s ease
}

body.offline #status {
    background: red;
    color: black;
    opacity: 1;
    transition: color 0.3s ease
}

#header-logo-section {
    width: 100%;
    margin-right: 8px;
    align-items: center;
    color: yellow;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-logo-section a {
    margin-left: 8px;
    color: yellow;
    text-decoration: none;
}

#header-logo-section a:hover {
  filter: drop-shadow(0 0 2em yellow);
}
