.card-figure{
    background-color: grey;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    position: relative;
    border-radius: 10px;
    width: auto;
    height: 250px;
    overflow: hidden;

}

.card-arrow{
    margin-left: left;
    padding-left: 15px;
    color: #ffe81f;
}

#list-section {
    max-width: 50%;
    display: block;
    margin: 2rem ;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #333;
    padding: 0;
    background: #1a1a1a;
}

#list-section::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 12px 12px 0;
}

#list-section::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

#list-section::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.listlayout{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;

    list-style: none;
    max-width: 600px;
    width: 100%;
    max-width: none;
    overflow: visible;
    margin: 0;

}

* {
    box-sizing: border-box;
}

.listlayout-item {
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #645d5d;
}

.card-link {
    display: flex;
    align-items: center;
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    color: #ffe81f;
    transition: background 0.3s ease;
}
.card-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.list-card {
    background: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    margin: 0;
}

.list-card button {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display:block;
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding :0;
    margin-bottom: 0px;

}

.card-body {
    padding: 1rem;
    margin-block-start: 0;
    margin-block-end: 0.1rem;
}

.card-body p {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}
