.card-figure{
    background-color: grey;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    position: relative;
    border-radius: 10px;
    width: auto;
    height: 250px;
    overflow: hidden;

}

.card-arrow{
    margin-left: left;
    padding-left: 15px;
    color: #ffe81f;
}

#list-section {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 2rem auto;
    border-radius: 8px;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #333;
    padding: 0;
    background: #1a1a1a;
}

#list-section::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 12px 12px 0;
}

#list-section::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

#list-section::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.listlayout{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;

    list-style: none;
    max-width: 600px;
    width: 100%;
    max-width: none;
    overflow: visible;
    margin: 0;

}

* {
    box-sizing: border-box;
}

.listlayout-item {
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #645d5d;
}

.card-link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #ffe81f;
    transition: background 0.3s ease;
}
.card-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 8px;
    box-shadow: none;
    width: 100%;
    margin: 0;
    padding-bottom: 1.5rem;
}

.list-card button {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display:block;
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding :0;
    margin-bottom: 0px;

}

.card-body {
    padding: 1.2rem 2rem;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-left: 0;
}

.card-data {
    color: #ccc;
    font-size: 0.9rem;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    align-items: center;
}

.card-data::before {
    content: "> ";
    color: #ffe81f;
    margin-right: 8px;
    font-weight: bold;
}
