.card-figure{
    background-color: grey;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 10px;
    width: auto;
    height: 250px;
    overflow: hidden;

}

#list-section {
    display: block;
    margin-inline-start: .5em;
    margin-inline-end: .5em;
}

.listlayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0%;

    list-style: none;
    gap: 1.5rem;
    max-width: none;
    width: auto;
    margin-bottom: 1.5rem;

}

* {
    box-sizing: border-box;
}

.listlayout-item {
    width: calc(50% - 0.75rem);
}

.list-card {
    
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display:block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-block-start: 0;
    margin-block-end: 1rem;
    padding :0;
}

.card-body {
    padding: 1rem;
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}

@media (min-width: 551px) {
    .listlayout-item {
       width: calc(33% - 0.95rem);
    }
}

@media (min-width: 768px) {
    .listlayout-item {
       width: calc(25% - 1.15rem);
    }
}