
h1 {
    font-size: 2.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}

#item-header {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgb(94, 93, 93);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#favorite-button {
    width: 100px;
    background-color: rgb(143, 143, 143);
}

#item-header div {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#item-header div ul {
    align-self: baseline;
}

#item-textbox {
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;
}

