main {
    min-height: 80vh;
}

h1 {
    font-size: 2.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}

#item-header {
    box-sizing: border-box;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#item-header div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#item-header div ul {
    align-self: baseline;
}

#item-header img {
    width: 100%;
    max-width: 500px;
    height: auto;
    
    
}

.image-wrapper {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: url(https://dummyimage.com/840/fff/0011ff.png&text=Image+Not+Found) no-repeat scroll 0 0;
}

#favorite-button {
    width: 100%;
}



#item-textbox {
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;
}

@media (min-width:720px) {

    #item-header{
        flex-direction: row;
    }

    #item-header img{
            max-width: 200px;
            height: auto;
    }



}

